*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background:rgb(69, 126, 161);
    background-size: cover;
}

.container {
    max-height: 50%;
    max-width: 60%;
    background-color: rgb(69, 126, 161);;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    align-self: center;
    text-align: center;
    color: white;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: black;
    border: 1px, solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.button:hover{
    border-color: gray;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .button2{
    background-color: black;
    border: 1px, solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.image{
    position: absolute;
    bottom: 0;
    left: 0;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.line{
    height: calc(100vh - 8em);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
    position: relative;
    top: 40%;
    width: 16em;
    margin: 0 auto;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; transform: translateY(-50%);
    background: transparent;
}

.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0;
    } to {
        width: 30em;
    }
}